body {
    background-color: #ffffff;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
    line-height: 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: dimgrey;
    font-size: 45px;
    margin-bottom: 20px;
}

h2 {
    font-weight: 300;
    color: #444;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    font-size: 24px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h5 {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {
    color: #02b8dd;
}

strong {
    font-weight: bold;
}

small {
    font-size: 13px;
    color: #777;
    font-style: italic;
}

.clear {
    clear: both;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 980px;

}

footer {
    padding: 60px 0;
    background-color: #f8fafa;
}

#footer-info {
    width: auto;
    float: left;
    margin-top: 10px;
}
