header {
    height: 120px;
}

header h1 {
    float: left;
    margin-top: 40px;
}

header h1 .color {
    font-family: 'Crete Round', serif;
    color: #02b8dd;
}

header nav {
    float: right;
}

header nav ul li {
    float: left;
    display: inline-block;
    margin-top: 50px;
}

header nav ul li a {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}

#bookshelf-image {
    height: 580px;
    width: auto;
    padding-top: 1px;
    background: url("../img/content/bookshelf.jpeg") no-repeat center;
    opacity: 0.8;
}

#bookshelf-image h2 {
    margin: 180px 0 40px 0;
}

.cancelButton {
    background-color: dimgrey;
    width: 50%;
    border: none;
    cursor: pointer;
    padding: 14px 20px;
    margin: 8px 25%;
    font-size: medium;
    color: white;
}

.close {
    position: absolute;
    right: 25%;
    top: 100px;
    color: white;
    font-size: 30px;
    font-weight: normal;
    cursor: pointer;

}

.container {
    padding: 16px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginButton {
    background-color: #02b8dd;
    width: 50%;
    border: none;
    cursor: pointer;
    padding: 14px 20px;
    margin: 8px 25%;
    font-size: medium;
    color: white;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 150px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 50%;
}

/*Search Page CSS */
.search-Main {

   background-color: #02b8dd;
   /* margin: 180px 0 40px 0; */

}

.search-img {

    background: url("../img/content/search.png") no-repeat center;

}

.searchButton {

    background-color: #02b8dd;
    width: 50%;
    border: none;
    cursor: pointer;
    padding: 14px 20px;
    margin: 8px 25%;
    font-size: medium;
    color: white;

}

/* Search page CSS end */

.clearButton {

    background-color: dimgrey;
    width: 50%;
    border: none;
    cursor: pointer;
    padding: 14px 20px;
    margin: 8px 25%;
    font-size: medium;
    color: white;

}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

#perks ul {
    margin: 80px 0;
}

#perks ul li {
    width: 300px;
    padding-top: 140px;
    float: left;
    margin-right: 10px;
    text-align: center;
    list-style: none;
}

#perks ul li.perk-1 {
    background: url('../img/content/quill.png') no-repeat top center;
}

#perks ul li.perk-2 {
    background: url('../img/content/network.png') no-repeat top center;
}

#perks ul li.perk-3 {
    background: url('../img/content/library.png') no-repeat top center;
}

#pswdInfo {
    position: absolute;
    right: 250px;
    width: 250px;
    padding: 15px;
    background: #fefefe;
    font-size: .875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
    display: none;
}

#confirmPswdDiv {
    display: none;
}

#confirmPswdDiv ul {
    font-size: .875em;
    list-style-type: none;
    padding: inherit;
}

#errFirstN {
    display: none;
}

#errFirstN ul {
    font-size: .875em;
    list-style-type: none;
    padding: inherit;
}

#errLastN {
    display: none;
}

#errLastN ul {
    font-size: .875em;
    list-style-type: none;
    padding: inherit;
}

#errUsername {
    display: none;
}

#errUsername ul {
    font-size: .875em;
    list-style-type: none;
    padding: inherit;
}

#errorEmailDiv {
    display: none;
}

#errorEmailDiv ul {
    font-size: .875em;
    list-style-type: none;
    padding: inherit;
}

#pswdInfo ul {
    list-style-type: none;
}

#pswdInfo::before {
    content: "\25B2";
    position: absolute;
    top: -12px;
    left: 45%;
    font-size: 14px;
    line-height: 14px;
    color: #ddd;
    text-shadow: none;
    display: block;
}

.invalid {
    background: url('../img/content/invalid.png') no-repeat;
    padding-left: 20px;
    line-height: 22px;
}

.valid {
    background: url('../img/content/check.png') no-repeat;
    padding-left: 20px;
    line-height: 22px;
}










